* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

.appDiv {
    padding: 8px;
    width: 80%;
    margin: 0 auto;
}

.homePageDiv {
    padding: 10px 0;
    background-color: #f6f6ef;
}

.headerDiv {
    background-color: #ff6600;
    padding: 3px;
    font-weight: bold;
}

.headerDiv span {
    font-weight: bold;
    padding-left: 4px;
    cursor: pointer;
    vertical-align: middle;
}

#logo {
    border: 1px solid white;
    cursor: pointer;
    vertical-align: middle;
}

.storyItemUL li {
    list-style: none;
}

.storyItemUL {
    display: block;
    padding: 10px;
}

.storyItemindexDiv {
    text-align: right;
}

.storyItemDiv p {
    display: inline-block;
    padding-left: 5px;
}

.storyItemHeaderDiv p:first-child {
    color: black;
    font-size: 11pt;
}

.storyItemHeaderDiv p:first-child:hover {
    cursor: pointer;
}

.storyItemBodyDivSpan {
    cursor: pointer;
}

.storyItemBodyDivSpan:hover {
    color: black;
    text-decoration: underline;
}

.commentHeaderDiv {
    padding-left: 10px;
    color: #828282;
    font-size: 8pt;
}

.commentBodyDiv {
    color: black;
    font-size: 11pt;
}

.commentHeaderUL {
    list-style: none;
    height: 20px;
}

.commentHeaderUL li {
    float: left;
    padding-left: 5px;
}

#collapseButton {
    cursor: pointer;
}

.storyItemDiv,
.commentItemDiv {
    padding: 5px 0;
    color: #828282;
    font-size: 10pt;
    display: grid;
    grid-template-columns: 2% 98%;
}

.commentItemDiv {
    padding-right: 10px;
}

.commentItemBodyDiv {
    padding-left: 5px;
    color: black;
    font-size: 11pt;
    letter-spacing: 0.2px;
    line-height: 1.5;
}

.commentItemBodyDiv a {
    color: #000000;
}

.commentItemBodyDiv a:visited {
    color: #828282;
}

.SingleStoryPageDiv {
    background-color: #f6f6ef;
}

.loadMoreStoriesButton {
    border: none;
    background-color: #f6f6ef;
    color: #828282;
    font-size: 10pt;
    padding: 5px;
    margin-left: 1.4rem;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .storyItemDiv,
    .commentItemDiv {
        grid-template-columns: 5% 95%;
    }
}

@media only screen and (max-width: 768px) {
    .appDiv {
        width: 100%;
        padding: 0;
    }
    .storyItemDiv,
    .commentItemDiv {
        grid-template-columns: 4% 96%;
    }

}